table {
  /* hack for wrapping table with .card */
  margin-bottom: 0 !important;
}

body {
  /* take up 100% of viewport's (part of page visible to user) vertical height */
  min-height: 100vh !important;
}

.bitcoin {
  height: 30px;
  position: relative;
  top: 4px;
}

.box {
  border-color: #E9ECEF;
  display: block;
}

body {
  word-break: break-word;
}

/* centers input placeholder */
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder { /* older Firefox*/
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}

