.bitcoin {
  height: 35px;
  width: auto;
  margin-bottom: 7px;
}

.border {
  display: inline-block;
  /*width: 70px;*/
  /*height: 70px;*/
  /*margin: 6px;*/
}

.border-3 {
  border-width:3px !important;
}

.box {
  display: block;
  width: 100%;
}

.wrap {
  word-break: break-word;
}

.grey {
  border-color: #E9ECEF;
}

hr {
  border-width:3px !important;
  color: #E9ECEF;
}

p {
  color: #6C757D;
}

span {
  color: #6C757D;
}

.bigger {
  font-size: 20;
}

body {
  font-weight: bolder;
}

h3 {
  font-weight: bold;
}
