{% from "macros.html" import jumbotron with context %}
{% from "macros.html" import display_tx with context %}

<!doctype html>
{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container">
{{ jumbotron() }}
<h1>Block {{ block["height"] }}</h1>
<h4>{{ block["hash"] }}</h4>

<h1>Transactions</h1>
<hr>
{% for tx in block["tx"] %}
{{ display_tx(tx, False) }}
<hr>
{% endfor %} 
{% endblock %}
