{% extends "layout.html" %}

{% from "macros.html" import tx_widget, block_widget with context %}

<!doctype html>
{% block title %}Blocks{% endblock %}

{% block jumbotron_bottom %}
<div class="text-centered">
  <h3><i class="fas fa-cube"></i> Block {{ block["height"] }}</h3>
  <h6 style="text-wrap">{{ block["hash"] }}</h6>
</div>
{% endblock %}


{% block content %}

{{ block_widget(block) }}

<h3>{{ block["nTx"] }} Transactions</h3>

{% for tx in block["tx"] %}
  {{ tx_widget(tx) }}
{% endfor %} 

{% endblock %}
