{% extends "layout.html" %}

{% from "macros.html" import tx_widget, row with context %}

<!doctype html>
{% block title %}Blocks{% endblock %}

{% block jumbotron_bottom %}
<h3><i class="fas fa-cube"></i> Block {{ block["height"] }}</h3>
<h5 style="word-break: break-word;">{{ block["hash"] }}</h5>
{% endblock %}


{% block content %}
<div class="container">

  {{ row("HEIGHT", block["height"]) }}<hr/>
  {{ row("STATUS", block["confirmations"]) }}<hr/>
  {{ row("TIMESTAMP", block["time"]) }}<hr/>
  {{ row("SIZE", block["size"]) }}<hr/>
  <!-- https://bitcoin.stackexchange.com/questions/67113/how-does-segwit-reduce-transaction-size-when-the-signature-is-simply-moved-to-a/67115#67115 -->
  {{ row("VIRTUAL SIZE", (block["weight"] | int) / 4) }}<hr/>
  {{ row("WEIGHT UNITS", block["weight"]) }}<hr/>

  <h1>{{ block["nTx"] }} Transactions</h1>

  {% for tx in block["tx"] %}
    {{ tx_widget(tx) }}
  {% endfor %} 
</div>
{% endblock %}
