{% extends "layout.html" %}
{% from "macros.html" import tx_widget, row with context %}

{% block title %}Mooniversity Explorer{% endblock %}

{% block navbar %}
{% endblock %}

{% block jumbotron_top %}
  <h1>
    <img class="bitcoin" src="{{ url_for('static', filename='bitcoin.svg') }}">
    Mooniversity Explorer
  </h1>
{% endblock %}

{% block content %}
<div class="container">
  {% for block in blocks %}
  {{ row("HEIGHT", block["height"], link=url_for('.block', blockhash=block['hash'])) }}
  {{ row("STATUS", block["confirmations"]) }}
  {{ row("TIMESTAMP", block["time"]) }}
  {{ row("SIZE", block["size"]) }}
  {{ row("WEIGHT UNITS", block["weight"]) }}
  <hr/>
  {% endfor %}

</div>
{% endblock %}
