<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap's CSS saved locally  -->
    <link href="{{ url_for('.static', filename='bootstrap.css') }}" rel="stylesheet">

    <!-- Fontawesome's CSS loaded from 3rd party (faster, easier, worse security)-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">

    <!-- Our custom CSS -->
    <link href="{{ url_for('.static', filename='styles.css') }}" rel="stylesheet">

    <!-- Javascript code to manipulate dates (used for block times) -->
    <script src="{{ url_for('.static', filename='moment.js') }}"></script>

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body class="d-flex flex-column">

    <div id="navbar" class="container">
      <nav class="navbar navbar-expand navbar-light">
        <ul class="navbar-nav mt-lg-0 text-center">
          <li class="nav-item mr-2">
            <img class="bitcoin" src="{{ url_for('.static', filename='bitcoin.svg') }}">
          </li>
          <li class="nav-item {{ 'active' if 'testnet' not in request.path }}">
              <a class="nav-link" href="{{ url_for('mainnet.index') }}">Bitcoin</a>
          </li>
          <li class="nav-item {{ 'active' if 'testnet' in request.path }}">
              <a class="nav-link" href="{{ url_for('testnet.index') }}">Testnet</a>
          </li>
        </ul>
      </nav>
    </div>

    <div id="jumbotron" class="container">
      <div class="jumbotron text-center">
        {% block jumbotron_top %}{% endblock %}
        <form class="col col-lg-8 offset-lg-2" action="{{ url_for('.search') }}" method="POST">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" name="query" 
                   placeholder="Search for block height, hash, transaction, or address">
          </div>
        </form>
        {% block jumbotron_bottom %}{% endblock %}
      </div>
    </div>

    <div class="container flex-grow-1">
      {% block content %}{% endblock %}
    </div>

    <footer>
      <div class="text-center py-3">Made by Justin Moon</div>
    </footer>

  </body>
</html>
