<!doctype html>
<html>
  <head>
    {% block head %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="/static/moment.min.js"></script>

    <!--Fontawesome for icons-->
    <link href="{{ url_for('.static', filename='fontawesome/css/all.css') }}" rel="stylesheet">
    <!--Our custom CSS-->
    <link href="{{ url_for('.static', filename='styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/styles.css') }}" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body class="d-flex flex-column">

    <div id="navbar" class="container">
      <nav class="navbar navbar-expand navbar-light bg-white">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center">
          <li class="nav-item mx-2">
            <img class="bitcoin" src="{{ url_for('.static', filename='bitcoin.svg') }}">
          </li>
          <li class="nav-item {{ 'active' if 'testnet' not in request.path }}">
            <a class="nav-link" href="/">Bitcoin</a>
          </li>
          <li class="nav-item {{ 'active' if 'testnet' in request.path }}">
            <a class="nav-link" href="/testnet">Testnet</a>
          </li>
        </ul>
      </nav>
      {% block navbar %}{% endblock %}
    </div>

    <div id="jumbotron" class="container">
      <div class="jumbotron text-center">
        {% block jumbotron_top %}{% endblock %}
        <form class="col col-lg-8 offset-lg-2" action="http://localhost:5000" method="POST">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" name="query" 
                   placeholder="Search for block height, hash, transaction, or address">
          </div>
        </form>
        {% block jumbotron_bottom %}{% endblock %}
      </div>
    </div>

    <div class="container flex-grow-1">
      {% block content %}{% endblock %}
    </div>

    <footer>
      <div class="text-center py-3">Made by Justin Moon</div>
    </footer>

  </body>
</html>
