{% macro display_tx(tx, verbose) %}
<p>Tx ID: <a href="{{ '/tx/' + tx['txid'] }}">{{ tx["txid"] }}</a></p>

{% if verbose %}
<p>Confirmations: {{ tx["confirmations"] }}</p>
{% endif %}

<h5>Inputs</h5>
{% for vin in tx["vin"] %}
<ul>
    {% if "coinbase" in vin %}
    <li>Coinbase</li>
    {% else %}
    <li>Tx ID: {{ vin["txid"] }}</li>
    {% endif %}
</ul>
{% endfor %} 
<h5>Outputs</h5>
{% for vout in tx["vout"] %}
<ul>
    <li>Amount: {{ vout["value"] }}</li>
    <li>Type: {{ vout["scriptPubKey"]["type"] }}</li>
</ul>
{% endfor %}
{% endmacro %}

{% macro tx_widget(tx) %}
  <div class="card my-4">
    <div class="card-header">
      <p>Tx <a href="{{ '/tx/' + tx['txid'] }}">{{ tx["txid"] }}</a></p>
    </div>

    <div class="card-body text-center">

      {% for vin in tx["vin"] %}
      <span class="btn btn-primary btn-block">
        <div class="d-flex m-2 cl">
          <div class="item">#{{ loop.index0 }}</div>
          {% if "coinbase" in vin %}
          <div class="px-2 item">Coinbase</div>
          {% else %}
          <div class="px-2 mr-auto item"> {{ vin["txid"] }}:{{ vin["vout"] }}</div>
          {% if "spending" in vin %}
            <div class="item">{{ vin["spending"]["value"] }}</div>
          {% endif %}
          {% endif %}
        </div>
      </span>
      {% endfor %} 

      <div >
        <i class="fas fa-angle-down" style="font-size: 2.73em;"></i>
      </div>

      {% for vout in tx["vout"] %}
      <div class="btn btn-primary btn-block">
        <div class="d-flex m-2 cl">
          <div class="pr-2 item">#{{ vout["n"] }}</div>
          {% if "addresses" in vout["scriptPubKey"] %}
            <!--FIXME why is addresses a list?-->
            <div class="pr-2 item">{{ vout["scriptPubKey"]["addresses"][0] }}</div>
          {% endif %}
          <div class="ml-auto item">   {{ vout["value"] }} BTC</div>
        </div>
      </div>
      <br/>
      {% endfor %}

    </div>
  </div>
{% endmacro %}

{% macro row(label, data, link=None) %}
<div class="row">
  <div class="col-4"><h5>{{ label }}</h5></div>
  <div class="col-8 text-right" style="word-break: break-word;">
    {% if link %}
    <h5><a href="{{ link }}">{{ data }}</a></h5>
    {% else %}
    <h5>{{ data }}</h5>
    {% endif %}
  </div>
</div>
{% endmacro %}
