{% macro tx_widget(tx) %}
<!--FIXME: why are tdese border / grey / etc classes repeated?-->
<span class="border rounded box p-3 my-3">

  <!--FIXME: tdis doesn't wrap-->
  <p>Tx 
  <a href="{{ url_for('.tx', tx_id=tx['txid']) }}">
    {{ tx["txid"] }}
  </a>
  </p>

  <!-- small screens -->
  <div class="container d-block d-lg-none">
    {% for vin in tx["vin"] %}
      {{ render_vin(vin, loop.index0) }}
    {% endfor %} 

    <div class="text-center">
      <i class="fas fa-angle-down" style="font-size: 2.73em;"></i>
    </div>

    {% for vout in tx["vout"] %}
      {{ render_vout(vout, loop.index0) }}
    {% endfor %}
  </div>

  <!-- large screens -->
  <div class="container d-none d-lg-block">
    <div class="row">
      <div class="col">
        {% for vin in tx["vin"] %}
          {{ render_vin(vin, loop.index0) }}
        {% endfor %} 
      </div>

      <!-- FIXME: hard-coded styles -->
      <i class="fas fa-angle-right" style="font-size: 2.73em; position: relative; top: 8px;"></i>

      <div class="col">
        {% for vout in tx["vout"] %}
          {{ render_vout(vout, loop.index0) }}
        {% endfor %}
      </div>
    </div>
  </div>

</span>
{% endmacro %}

{% macro render_vin(vin, index) %}
<span class="border grey rounded box border-3 p-3 {{ 'mt-3' if index else '' }}">
  <div class="row px-3">
    <div class="mr-auto text-left text-wrap">
      <span>#{{ index }}</span>
      {% if "coinbase" in vin %}
      <span>Coinbase</span>
      {% else %}
      <span>{{ vin["txid"] }}:{{ vin["vout"] }}</span>
      {% endif %}
    </div>
    <div class="text-right text-wrap"> 
      {% if "spending" in vin %}
      <span class="text-right">{{ vin["spending"]["value"] }} BTC</span>
      {% endif %}
    </div>
  </div>
</span>
{% endmacro %}

{% macro render_vout(vout, index) %}
<span class="border grey rounded box border-3 p-3 {{ 'mt-3' if index else '' }}">
  <div class="row px-3">
    <div class="mr-auto text-left text-wrap">
      <span>#{{ vout["n"] }}</span>
      {% if "addresses" in vout["scriptPubKey"] %}
        <!--FIXME why is addresses a list?-->
        <span>{{ vout["scriptPubKey"]["addresses"][0] }}</span>
      {% elif "OP_RETURN" in vout["scriptPubKey"]["asm"] %}
        <span>OP_RETURN</span>
      {% endif %}
    </div>
    <div class="text-right text-wrap">
      {{ vout["value"] }} BTC
    </div>
  </div>
</span>
{% endmacro %}

{% macro block_widget(block) %}
<div class="card mb-5">
  <table class="table">
    <tr>
      <td>Height</td>
      <td class="text-right">
        <a href="{{ url_for('.block', blockhash=block['hash']) }}">
          {{ block["height"] }}
        </a>
      </td>
    </tr>
    <tr>
      <td>Status</td>
      <td class="text-right">{{ block["confirmations"] }} confirmations</td>
    </tr>
    <tr>
      <td>Timestamp</td>
      <td class="text-right">{{ format_unixtime(block["time"]) }}</td>
    </tr>
    <tr>
      <td>Size</td>
      <td class="text-right">{{ block["size"] }} KB</td>
    </tr>
    <tr>
      <td>Weight Units</td>
      <td class="text-right">{{ block["weight"] }} KWU</td>
    </tr>
  </table>
</div>
{% endmacro %}
