{% extends "layout.html" %}

{% from "macros.html" import row, tx_widget with context %}

{% block title %}{{ tx['txid'] }}{% endblock %}

{% block jumbotron_bottom %}
<h3><i class="fas fa-paper-plane"></i> Transaction</h3>
<h5 style="word-break: break-word;">{{ tx["txid"] }}</h5>
{% endblock %}

{% block content %}
<div class="container">

  {{ row("STATUS", tx["confirmations"]) }}<hr/>
  {{ row("INCLUDED IN BLOCK", tx["blockhash"], 
  link=url_for('.block', blockhash=tx['blockhash'])) }}<hr/>

  <!--skip BLOCK HEIGHT b/c that's not readily available-->

  {{ row("BLOCK TIMESTAMP", tx["blocktime"]) }}<hr/>

  <!--skip TRANSACTION FEES b/c that's not readily available-->

  <!--TODO: add units for these two-->
  {{ row("SIZE", tx["size"]) }}<hr/>
  {{ row("VIRTUAL SIZE", tx["vsize"]) }}<hr/>
  {{ row("WEIGHT UNITS", tx["weight"]) }}<hr/>

  {{ row("VERSION", tx["version"]) }}<hr/>
  {{ row("LOCKTIME", tx["locktime"]) }}

  {{ tx_widget(tx) }}
</div>
{% endblock %}
</html>
